main {
    height: 100%;
}

.login-page {
    min-height: 100%;
}

.login-page md-card {
    width: 300px;
}

.login-page .login-logo {
    text-align: center;
    width: 100%;
}

.login-page .login-logo img {
    width: 120px;
}

.login-page .submit-button {
    text-align: right;
}

.login-page a.switch-link {
    color: rgb(57,73,171);
    font-size: 12pt;
    text-decoration: none;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: auto;
}
