<md-card>
    <md-card-content>
        <new></new>
    </md-card-content>
</md-card>
<md-card>
    <md-list>
        <md-subheader class="md-no-sticky" style="background: none;"><h2>My things</h2></md-subheader>
        <md-list-item class="md-2-line" ng-repeat="thing in vm.things">
            <div class="md-list-item-text" ng-click="vm.sell(thing.id)">
                <h3>Name: {{ thing.name }}</h3>
            </div>
        </md-list-item>
        <md-subheader class="md-no-sticky" style="background: none;"><h2>Market</h2></md-subheader>
        <md-list-item class="md-3-line" ng-repeat="thing in vm.market">
            <div class="md-list-item-text" ng-click="vm.buy(thing.id)">
                <h3>Name: {{ thing.name }}</h3>
                <h4>Price: ${{ thing.price }}</h4>
                <p>Owner: {{ thing.owner }}</p>
            </div>
        </md-list-item>
    </md-list>
</md-card>
