<div layout="row" layout-align="center center" class="login-page">
    <form ng-submit="vm.login()" ng-if="vm.mode == 'login'">
        <md-card>
            <md-card-content>
                <div class="login-logo">
                    <img src="assets/img/hyperledger.png"></img>
                </div>
                <md-input-container class="md-block">
                    <label>Username</label>
                    <input type="text" ng-model="vm.credentials.username">
                </md-input-container>

                <md-input-container class="md-block">
                    <label>Password</label>
                    <input type="password" ng-model="vm.credentials.password">
                </md-input-container>
                <p ng-if="vm.password">Your password is : {{vm.password}}</p>
                <div class="submit-button">
                    <md-button class="md-raised md-primary" type="submit" >Sign in</md-button>
                </div>
            </md-card-content>
            <md-card-actions layout="row" layout-align="end center">
                <a class="switch-link" href="" ng-click="vm.switchMode()">Don't have an account?</a>
            </md-card-actions>
        </md-card>
    </form>
    <form ng-submit="vm.register()" ng-if="vm.mode == 'register'">
       <md-card>
           <md-card-content>
               <div class="login-logo">
                   <img src="assets/img/hyperledger.png"></img>
               </div>
               <md-input-container class="md-block">
                   <label>Username</label>
                   <input type="text" ng-model="vm.credentials.username">
               </md-input-container>
               <div class="submit-button">
                   <md-button class="md-block md-raised md-primary" type="submit" >Sign up</md-button>
               </div>
           </md-card-content>
           <md-card-actions layout="row" layout-align="end center">
               <a class="switch-link" href="" ng-click="vm.switchMode()">Return to login</a>
           </md-card-actions>
        </md-card>
    </form>
</div>
